/** Importing fonts **/
@font-face {
    font-family: '';
    src: url('');

}

/** Initializing CSS **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(240,240,240);
}

#pg-main-cntr {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1040px;
    height: 100vh;
    background-color: black;
}

#pg-nav, #pg-view {
    display: flex;
    height: 100%;
}

#pg-nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgb(15,15, 45);
}

#pg-nav #nav-options {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#pg-nav #nav-options #nav-pic {
    margin: 0 auto;
}

.profile-pic {
    height: 120px;
    width: 120px;
}

#nav-menu {
    display: flex;
    flex-direction: column;
}

#pg-nav #nav-options #nav-menu span {
    text-align: center;
    margin-top: 25px;
    color: white;
}

.selected {
    font-weight: 800;
}


/** MEDIA QUERIES FOR RESPONSIVE DESIGN **/